.idea/.gitignore
.idea/front-back-project.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/bamboo_database_test.cpython-38.pyc
__pycache__/bamboo_database_test.cpython-310.pyc
__pycache__/bamboo_forms.cpython-38.pyc
__pycache__/bamboo_forms.cpython-310.pyc
__pycache__/bamboo_userlogin.cpython-38.pyc
__pycache__/bamboo_userlogin.cpython-310.pyc
__pycache__/bamboo.cpython-38.pyc
__pycache__/bamboo.cpython-310.pyc
settings.ini
