@font-face {
    font-family: Roboto-Bold;
    src: local(Roboto-Bold), url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: local(Roboto-Light), url(../font/Roboto-Light.ttf);
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background: url(../images/greeting.jpg) center no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: Roboto-Light;
    color: #fff;
    font-size: 20px;
}

#main-section {
    background: rgba(184, 207, 105, 0.3);
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border-radius: 20px;
}

#hback {
    display: flex;
    text-align: start;
}

.invitations {
    border-radius: 10px;
    width: 480px;
    height: 385px;
    padding: 20px 7px 0px;
    margin-right: 3px;
    overflow-y: auto;
}

.invitations::-webkit-scrollbar {
    width: 10px;
    background-color: #699b2c;
    border-radius: 20px;
}

.invitations::-webkit-scrollbar-track {
    background: none;
}

.invitations::-webkit-scrollbar-thumb {
    background-color: #b8cf69;
    border-radius: 20px;
    border: 1px solid #48575e;
}

.invite {
    font-family: Roboto-Light;
    border-radius: 20px;
    border: 0;
    background-color: #2d4a1a;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 10px 10px;
    margin-bottom: 15px;
    width: 450px;
}

h2 {
    font-family: Roboto-Bold;
    margin: 10px 60px;
}

p {
    margin: 0px 20px 0px;
}

#back {
    border: 0;
    outline: none;
    font-size: 20px;
    background: #699b2c;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    border-radius: 20px;
    width: 80px;
    height: 50px;
    cursor: pointer;
}

#back:hover,
#back:focus {
    background: #2d4a1a;
}

#back a:link,
#back a:visited,
#back a:active {
    color: #ffffff;
    font-family: Roboto-Light;
    text-decoration: none;
}

.btn {
    border: 0;
    outline: none;
    font-size: 20px;
    background: #699b2c;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 170px;
}

.btn:hover,
.btn:focus {
    background: #2d4a1a;
}

.empty-conference {
    margin: 20px 20px;
}