@font-face {
    font-family: Roboto-Bold;
    src: local(Roboto-Bold), url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: local(Roboto-Light), url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: PermanentMarker-Regular;
    src: url(../font/PermanentMarker-Regular.ttf);
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background: url(../images/greeting.jpg) center no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    overflow-y: auto;
}

.form {
    background: rgba(184, 207, 105, 0.3);
    width: 1600px;
    height: 800px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    font-family: Roboto-Light;
}

.menu {
    background: #2d4a1a;
    width: 330px;
    height: 800px;
    border-radius: 20px;
    font-family: Roboto-Light;
    color: #fff;
    float: left;
}

.menu .icon {
    float: left;
    width: 55px;
    height: 55px;
    margin-left: 15px;
    margin-top: 21px;
}

.icon-img {
    width: 100%;
    height: auto;
}

.menu h1 {
    position: relative;
    top: 0px;
    left: 5px;
    font-size: 35px;
    font-family: PermanentMarker-Regular;
    margin-top: 15px;
}

.av {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.avatar-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 -5px;
}

.avatar p {
    flex: 3 3 auto;
    margin: 5px 10px;
}

#name {
    font-size: 25px;
}

#email {
    font-size: 17px;
}

.fa-ul a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.fa-ul i {
    margin-right: 15px;
}

.fa-ul li {
    margin-bottom: 40px;
}

#bookmark {
    margin-left: 3px;
}

#a {
    margin-left: 5px;
}

#b {
    margin-left: 2px;
}

#c {
    margin-left: 11px;
}

#d {
    margin-left: 7px;
}

.fa-ul {
    text-align: left;
    margin-top: 70px;
}


/* .content>div:nth-child(-n+4) {
display: none;
} */

.tab:hover {
    background-color: #b8cf69;
    padding: 5px 5px;
}

.tab {
    margin-right: 5px;
    padding-left: 0px;
    margin-bottom: 10px;
}

.fa-ul .active {
    background-color: #699b2c8c;
    padding: 5px 5px;
}

#conferences h2 {
    margin-left: 380px;
    margin-bottom: 20px;
    padding-top: 30px;
    font-size: 60px;
    font-family: Roboto-Bold;
    color: #fff;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.create-conference {
    color: #fff;
    background-color: #2d4a1a;
    font-family: Roboto-Light;
    height: 50px;
    font-size: 25px;
}

#create {
    margin-left: 40px;
}

.create-conference i {
    margin-left: 30px;
}

#confs {
    overflow-y: auto;
    max-height: 770px;
    max-width: 1300px;
    list-style-type: none;
    padding-left: 10px;
    margin-bottom: 10px;
}

#confs::-webkit-scrollbar {
    width: 12px;
    background-color: #699b2c;
    border-radius: 20px;
}

#confs::-webkit-scrollbar-track {
    background: none;
}

#confs::-webkit-scrollbar-thumb {
    background-color: #b8cf69;
    border-radius: 20px;
    border: 1px solid #48575e;
}

.conference-info {
    color: #fff;
    font-family: Roboto-Light;
}

#conferences {
    padding-top: 1px;
    padding-bottom: 1px;
}

#confs li {
    color: #fff;
    font-family: Roboto-Light;
    border-radius: 20px;
    border: 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding-left: 30px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.connect-to,
.change-conf {
    text-decoration: none;
    color: #ffffff;
    border: 3px solid;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #699b2c;
}

.connect-to {
    width: 45px;
    padding: 3px;
}

.change-conf {
    width: 75px;
    padding: 3px;
}

.active {
    background-color: #2d4a1a;
}

.inactive {
    background-color: #699b2c8c;
}

#logout {
    text-decoration: none;
    color: #ffffff;
    border: 3px solid;
    border-radius: 20px;
    background-color: #699b2c;
    width: 50px;
    text-align: center;
    padding: 3px;
    margin: auto;
}

.flash {
    width: 600px;
    height: 50px;
    margin: 20px auto;
    padding-top: 20px;
    border: 2px solid gray;
    border-radius: 15px;
    font-size: 24px;
    text-align: center;
}

.success {
    background-color: lightgreen;
    font-family: Roboto-Light;
    color: white;
}

.error {
    background-color: pink;
    font-family: Roboto-Light;
    color: white;
}