<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" 
          href="{{ url_for("static", filename="css/style.css") }}"
          rel="stylesheet">

{% if title %}
    <title>Bamboo {{ title }}</title>
{% else %}
    <title>Bamboo страница</title>
{% endif %}

</head>

<body>

{% include "base_header.html" %}

{% block content -%}
    <p>Базовое</p>
{% endblock content -%}

</body>
</html>