{% extends "base.html" -%}

{% block head -%}
{{ super() }}
<!-- CSS -->
{% endblock head -%}

{% block content -%}
    <button type="button" id="back"><a href="{{ url_for('profile') }}">Назад</a></button>
    <div class="info">
        <p>{{ current_user.get_lname() }} {{ current_user.get_fname() }}</p>
        {% if invitations %}
        {% for invite in invitations -%}
        <div class="invite">
            <div class="invite-row">Конференция - {{ invite.title }}</div>
            <div class="invite-row">Время активации - {{ invite.time }}</div>
            <div class="invite-row">Инициатор - {{ invite.lastname }} {{ invite.firstname }}</div>
            <button id="accept_{{ invite.id }}" onclick="accept(this.id)">Принять</button>
        </div>
        {% endfor -%}
        {% else %}
        <span class="empty-conference">Вас пока не приглашали в конференции</span>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/invitations.js') }}"></script>
{% endblock content -%}
